* {
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
}
ul li{
	list-style: none;
	text-align: left;
}
h1{
	font-family: 'Michroma', sans-serif;
	font-size: 50px;
}
h4{
	font-weight: 30px;
}
p{
	font-family: 'Glory', sans-serif;
	font-size: 20px;
	text-align: justify;
}
body {
	background: #2E757C;
	color: black;
	font-family: ;
}
a:link, a:visited, a:active {
    text-decoration:none;
}
#titulo {
	background: #0F3B47;
	text-align: center;
	padding: 40px;
	color: ;
	margin: 20px 250px 15px 250px;
	border-radius: 15px;
}
#titulo h4 {
	color: #afafaf;
}
#cuerpo {
	display: flex;
	color: #000;
	position: relative;
	text-align: center;
	height: 40em;
	background: linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)), url(https://i.imgur.com/qU09o3e.png) no-repeat center;
	background-size: 120em 80em;
	background-position: center 0px;
	margin: 0px 250px 0px 250px;
	border-radius: 15px;
}
.tarjeta {
	text-align: center;
	align-content: center;
	margin: 20px;
	margin-top: 100px;
	background: #BAC19C;
	border-radius: 10%;
	width: 300em;
	height: 20em;
	box-shadow: 2px 2px 5px 2px #aaa;
}
.tarjeta:hover {
	transform: translateY(-15px);
}
.tarjeta:hover img {
	transition-delay: 1s;
	transform: translateY(-15px);
}
.tarjeta__nombres {
	font-size: 30px;
	margin: 20px 10px 10px 5px;
}
.tarjeta__descripcion {
	font-size: 20px;
	margin: 10px;
}
 img {
	width: 50px;
	border-radius: 50%;
	
}
.tarjeta__github1, 
.tarjeta__github2, 
.tarjeta__github3,
.tarjeta__github4,
.tarjeta__github5 {
	width: 50px;
	margin: 10px;
	position: absolute;
}

.btn-neon {
	margin-left: 36em;
	margin-top: 13px;
}